[submodule "descending-blocks"]
	path = descending-blocks
	url = https://github.com/michaelclement/descending-blocks
[submodule "typing-test"]
	path = typing-test
	url = https://github.com/michaelclement/typing-test.git
[submodule "pdf-certificate-maker"]
	path = pdf-certificate-maker
	url = git@github.com:michaelclement/pdf-certificate-maker.git
